.emby-button:focus:not(.btnUserViewHeader):not(.emby-tab-button) {
    background: #52B54B;
    color: #fff !important;
}

.card[data-cardtype='embyconnect'] .cardImageContainer {
    background-color: #52B54B !important;
}

.userViewButtonText {
    border-bottom: 2px solid transparent;
}

.albumsCard .cardImageContainer, .recordingsCard .cardImageContainer {
    background: #38c !important;
}

.allGenericCard .cardImageContainer, .artistsCard .cardImageContainer {
    background: #4CAF50 !important;
}

.genresCard .cardImageContainer, .channelsLiveTvCard .cardImageContainer {
    background: #F44336 !important;
}

.movieCollectionsCard .cardImageContainer {
    background-color: #009688 !important;
}

.movieGenresCard .cardImageContainer {
    background-color: #009688 !important;
}

.tvUpcomingCard .cardImageContainer {
    background-color: #009688 !important;
}

.btnUserViewHeader.selected {
    opacity: 1 !important;
    color: inherit;
}

.btnUserViewHeader:focus {
    color: #52B54B;
    opacity: 1 !important;
}

    .btnUserViewHeader:focus .userViewButtonText {
        border-bottom-color: #52B54B;
    }
