.skinHeader-withBackground {
    background-color: #191919 !important;
}

.headerLogo {
    background-image: url(images/logowhite.png);
}

.emby-button:focus:not(.btnUserViewHeader):not(.emby-tab-button) {
    background: #52B54B;
    color: #fff !important;
}

.card:focus:not(.card-round) .card-focuscontent {
    border-color: #52B54B;
}

.card[data-cardtype='embyconnect'] .cardImageContainer {
    background-color: #52B54B!important;
}

.userViewNames button {
    color: #666;
}

.userViewButtonText {
    border-bottom: 2px solid transparent;
}

.userViewNames button.selected {
    color: inherit;
}

.albumsCard .cardImageContainer, .recordingsCard .cardImageContainer {
    background: #38c !important;
}

.allGenericCard .cardImageContainer, .artistsCard .cardImageContainer {
    background: #4CAF50 !important;
}

.genresCard .cardImageContainer, .channelsLiveTvCard .cardImageContainer {
    background: #F44336 !important;
}

.movieCollectionsCard .cardImageContainer {
    background-color: #009688 !important;
}

.movieGenresCard .cardImageContainer {
    background-color: #009688 !important;
}

.tvUpcomingCard .cardImageContainer {
    background-color: #009688 !important;
}

.userViewNames button:focus {
    color: #52B54B !important;
}

    .userViewNames button:focus .userViewButtonText {
        border-bottom-color: #52B54B;
    }