a {
    text-decoration: none;
}

.headerLogo {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6em;
    height: 1.5em;
    vertical-align: middle;
    display: inline-block;
}

.pageTitle {
    display: inline-flex;
    vertical-align: middle;
    margin: 0;
    height: 1.7em;
    align-items: center;
}

.pageTitleWithLogo {
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13.2em;
}

.headerBackButton {
    margin-left: -1.4em;
}

.headerButton {
    vertical-align: middle;
    margin: 0 .5em;
}

.searchButtonContainer {
    margin-right: .5em;
    margin-left: .5em;
}

.headerUserButton img {
    border-radius: 1000px;
}

.skinHeader {
    /* This will ensure it is on top of the main body */
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 9%;
    flex-direction: column;
}

.headerTop {
    padding: 1em 0;
}

@media all and (max-width: 84em) {

    .withSectionTabs .headerTop {
        padding-bottom: .2em;
    }
}

.headerLeft {
    display: flex;
    padding-left: 2.3%;
    align-items: center;
}

.headerRight {
    padding-right: 2.3%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.sectionTabs {
    width: 100%;
    text-align: center;
}

.headerClock {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}

.headerSelectedPlayer {
    font-weight: normal;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 84em) and (max-height: 36em) {

    .sectionTabs {
        font-size: 88%;
    }
}

.nowPlayingBackgroundContainer.withBackdrop {
    background: rgba(6,6,6,.8) !important;
}

@media all and (max-width: 720px) {

    .headerClock {
        display: none !important;
    }
}

.pageContainer {
    overflow: hidden;
    contain: layout style;
}

    .pageContainer.flex {
        overflow: hidden;
        display: flex;
        contain: strict;
    }

    .pageContainerTopPadding, .pageContainer, .pageContainer.flex {
        padding-top: 3.6em;
    }

.withSectionTabs .pageContainerTopPadding {
    padding-top: 9.2em;
}

@media all and (min-width: 84em) {

    .headerTabs {
        align-self: center;
        width: auto;
        align-items: center;
        justify-content: center;
        margin-top: -3.34em;
        position: relative;
        top: -.55em;
    }

    .withSectionTabs .pageContainerTopPadding {
        padding-top: 7.6em;
    }
}

.pageContainer.vertical.centered {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media all and (min-width: 1280px) {

    .pageContainer.vertical.centered {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.itemScrollFrame.scrollFrameX .scrollSlider {
    padding-left: 4.5%;
}

.itemScrollFrame.scrollFrameX .scrollSlider {
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

.itemScrollFrame.scrollFrameX.noTopPadding .scrollSlider {
    padding-top: 1.1em;
}

.itemScrollFrameY {
    height: 100%;
    /* Needed for native scroll */
    display: flex;
}

.scrollFrameY > .scrollSlider {
    /* Needed for native scroll */
    flex-grow: 1;
    /* Don't allow width to expand beyond parent size */
    width: 100%;
}

.horizontalSectionsContainer {
    display: flex;
    /* Needed to prevent images from flickering in tizen and orsay */
    transform-style: preserve-3d;
}

.horizontalPageContent h1 {
    margin-top: 0;
}

.scrollFrameY {
    overflow: hidden;
}

.scrollFrameX .scrollSlider {
    white-space: nowrap !important;
}

.cardColumn {
    display: inline-block;
    vertical-align: top;
    flex-shrink: 0;
}

.listNumbers {
    position: fixed;
    bottom: 2.5%;
    right: 1.5%;
}

.horizontalSection {
    margin-right: 1.25em;
    flex-shrink: 0;
}

    .horizontalSection .sectionTitle {
        font-size: 90%;
        padding-left: .1em;
    }

.selectedItemInfo {
    position: fixed;
    bottom: .5%;
    left: 3.7vw;
    right: 10%;
    max-width: 70%;
    font-size: 84%;
    /*position: relative;
    margin: auto;*/
    display: flex;
}

    .selectedItemInfo h2 {
        margin: 0;
    }

.selectedItemMediaInfo {
    display: flex;
    align-items: center;
    position: relative;
}

.selectedItemInfoLogo {
    width: 16%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    margin-right: 1em;
    flex-shrink: 0;
}

.selectedItemInfoDetails {
    flex-shrink: 0;
    flex-grow: 1;
}

    .selectedItemInfoDetails > div {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.loginSquareCard {
    display: inline-block !important;
}

.playlistPageContainer {
    display: block;
    width: 70%;
    margin: 0 auto 0;
    bottom: 0;
}

.playlistIndexIndicatorImage {
    background-size: initial !important;
    background-image: url(images/equalizer_white.gif) !important;
}

.listItemsMoreButtonContainer {
    text-align: right;
}

.listItemsMoreButton {
    margin: .25em .25em .25em 0 !important;
    padding: .3em .7em !important;
    font-size: 84% !important;
    text-transform: uppercase;
    min-width: initial;
    margin-left: auto;
}

.listPageButtons button {
    padding: .5em 1em;
}

.verticalSection {
    margin-bottom: 1.9em;
}

@media all and (max-width: 500px), (max-height: 720px) {

    .verticalSection {
        margin-bottom: 1.3em;
    }
}

.layout-tv .verticalSection {
    margin-bottom: 1.7em;
}

.sectionTitleContainer {
    margin-bottom: .3em;
}

.layout-tv .sectionTitleContainer {
    margin-bottom: 0;
}

.sectionTitle {
    margin-bottom: .07em;
}

.sectionTitleContainer > .sectionTitle {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.sectionTitleButton {
    margin-left: 1.5em !important;
    margin-right: 0 !important;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
}

    .sectionTitleButton + .sectionTitleButton {
        margin-left: .5em !important;
    }

.sectionTitleIconButton {
    margin-left: 1.5em !important;
    margin-right: 0 !important;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    color: #aaa !important;
    font-size: 84% !important;
    padding: .5em !important;
}

.sectionTitle-cards {
    margin-left: .3em;
}

.verticalSection .sectionTitle {
    margin-top: 0;
}

.horizontalItemsContainer {
    display: flex;
}

.sectionTitleTextButton {
    margin: 0 0 .1em !important;
    display: inline-flex !important;
    color: inherit !important;
}

    .sectionTitleTextButton:not(.padded-left) {
        padding: 0 !important;
    }

    .sectionTitleTextButton.padded-left {
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }

    .sectionTitleTextButton > .sectionTitle {
        margin-bottom: 0;
    }

.padded-left {
    padding-left: 2%;
}

.padded-right {
    padding-right: 2%;
}

.padded-top {
    padding-top: 1em;
}

.padded-bottom {
    padding-bottom: 1em;
}

.layout-tv .padded-top-focusscale {
    padding-top: 1.6em;
    margin-top: -1.6em;
}

.layout-tv .padded-bottom-focusscale {
    padding-bottom: 1.6em;
    margin-bottom: -1.6em;
}

@media all and (min-height: 500px) {

    .padded-left-withalphapicker {
        padding-left: 6%;
    }

    .padded-right-withalphapicker {
        padding-right: 6%;
    }
}

@media all and (min-width: 600px) {

    .padded-left {
        padding-left: 3%;
    }

    .padded-right {
        padding-right: 3%;
    }
}

@media all and (min-width: 800px) {

    .padded-left {
        padding-left: 3.2%;
    }

    .padded-right {
        padding-right: 3.2%;
    }
}

@media all and (min-width: 1280px) {

    .padded-left {
        padding-left: 3.3%;
    }

    .padded-right {
        padding-right: 3.3%;
    }
}

@media all and (min-width: 800px) {

    .layout-tv .padded-left-withalphapicker {
        padding-left: 4.4%;
    }

    .layout-tv .padded-right-withalphapicker {
        padding-right: 4.4%;
    }
}

@media all and (min-width: 1280px) {

    .layout-tv .padded-left-withalphapicker {
        padding-left: 5%;
    }

    .layout-tv .padded-right-withalphapicker {
        padding-right: 5%;
    }
}

.alphanumeric-shortcut {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99999;
    font-size: 500%;
    /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    padding: 0 .5em .1em;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .05em;
    color: #ddd;
}
