.wideSpotlightCard {
    width: 100%;
}

    .wideSpotlightCard .cardImageContainer {
        height: 44.7vh;
    }

    .wideSpotlightCard.card-focusscale:focus > .cardBox {
        transform: scale(1.04, 1.04);
    }

.homePageContainer .cardBox {
    margin: 4px!important;
}
