.userViewNames {
    padding-left: 3.75%;
}

.userViewButtonText {
    font-weight: normal;
}

.userViewNames h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}

.userViewNames .btnUserViewHeader {
    min-width: initial;
    text-transform: none !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .2em;
}

.homePageContainer .selectedItemInfo {
    right: 2%;
    bottom: 2.5%;
}

.homePageContent .squareCard:not(.scalableCard) .cardImageContainer {
    width: 8.66em;
    height: 8.66em;
}

.homePageContent .backdropCard .cardImageContainer {
    width: 15.395555555555555555555555555556em;
    height: 8.66em;
}

.homePageContent .portraitCard .cardImageContainer {
    width: 8.8em;
    height: 13.2em;
}

.wideSpotlightCard {
    width: 100%;
}

    .wideSpotlightCard .cardImageContainer {
        height: 17.85em;
    }

    .wideSpotlightCard.card-focusscale:focus > .cardBox {
        transform: scale(1.04, 1.04);
    }

.homePageContainer .cardBox {
    margin: 4px !important;
}
