.osdHeader {
    padding-bottom: 3vh;
    background-color: rgba(0, 0, 0, .3);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    transition: opacity 300ms ease-out;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    color: #eee;
}

.osdHeader-hidden {
    opacity: 0;
}

.osdHeader .headerButton {
    display: none;
}

.chapterThumbContainer {
    -moz-box-shadow: 0 0 1.9vh #000;
    -webkit-box-shadow: 0 0 1.9vh #000;
    box-shadow: 0 0 1.9vh #000;
    flex-grow: 1;
    position: relative;
}

.chapterThumb {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    height: 20vh;
    min-width: 20vh;
}

@media all and (orientation: portrait) {

    .chapterThumb {
        height: 30vw;
        min-width: 30vw;
    }
}

@media all and (max-height: 50em) and (orientation: landscape) {

    .chapterThumb {
        height: 30vh;
        min-width: 30vh;
    }
}

.chapterThumbTextContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: .25em .5em;
    user-select: none;
}

.chapterThumbText {
    padding: .25em 0;
    margin: 0;
    opacity: 1;
}

.chapterThumbText-dim {
    opacity: .6;
}

.videoOsdBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 1%;
    display: flex;
    flex-direction: row;
    will-change: transform;
    transition: opacity 300ms ease-out;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8));
    color: #fff;
}

.videoOsdBottom-hidden {
    opacity: 0;
}

.osdControls {
    flex-grow: 1;
}

.videoOsdBottom .buttons {
    padding: .25em 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.osdVolumeSliderContainer {
    width: 6.5em;
    flex-grow: 1;
}

.volumeButtons {
    margin: 0 .5em 0 auto;
    display: flex;
    align-items: center;
}

.osdTimeText {
    margin-left: 1em;
    user-select: none;
}

.mouseIdle .videoOsdBottom .volumeButtons {
    display: none;
}

.osdPoster {
    width: 10%;
    position: relative;
    margin-right: .5em;
}

    .osdPoster img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        -moz-box-shadow: 0 0 1.9vh #000;
        -webkit-box-shadow: 0 0 1.9vh #000;
        box-shadow: 0 0 1.9vh #000;
        border: solid 1px #222;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

.osdTitle {
    margin: 0;
    margin-right: 1em;
}

.osdTitleSmall {
    margin: 0;
    margin-right: 1em;
}

.osdMediaInfo {
    color: #eee;
    display: flex;
    align-items: center;
}

.osdSecondaryMediaInfo {
    padding-left: .6em;
}

.osdTextContainer {
    display: flex;
    align-items: center;
    user-select: none;
    margin-bottom: .7em;
    padding-left: .5em;
}

.osdMainTextContainer {
    align-items: baseline;
}

@media all and (max-width:30em) {
    .osdPoster, .btnRewind, .btnFastForward, .osdMediaInfo {
        display: none !important;
    }
}

@media all and (max-width:33.75em) {
    .videoOsdBottom .paper-icon-button-light {
        margin: 0;
    }
}

@media all and (max-width:37.5em) {
    .videoOsdBottom .volumeButtons {
        display: none !important;
    }
}

@media all and (max-width: 75em) {
    .videoOsdBottom .endsAtText {
        display: none !important;
    }
}
